.page {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}
