<section class="process">
    <h2 class="process__title">Процесс</h2>
    <div class="process__container">
        <div class="process__items" *ngFor="let process of files">
            <app-process-card [sProcess]="process"></app-process-card>
        </div>
    </div>
</section>
<section class="videos">
    <h2 class="videos__title">Видеоотчеты</h2>
    <div class="videos__items">
        <iframe width="275" height="480" src="https://www.youtube.com/embed/9nJeiTEO5Mo?si=X0b_cog88qwT5mb6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="275" height="480" src="https://www.youtube.com/embed/9nJeiTEO5Mo?si=X0b_cog88qwT5mb6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="275" height="480" src="https://www.youtube.com/embed/9nJeiTEO5Mo?si=X0b_cog88qwT5mb6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
