.title-project{
    margin: 70px auto 50px;
    padding: 0;
    height: 60px;
    border-bottom: 2px solid #D7D7D7;
}

.title-project__title{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.cards{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto 120px;
    display: grid;
    grid-template-columns: 600px 600px;
    row-gap: 60px;
    justify-content: space-between;
    box-sizing: border-box;
}

.card__container{
    max-width: 1280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    margin: 0;
    padding: 0;
}
