.card__button
{
    background-image: url("/images/call.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 35px;
}

.card__button:hover
{
    cursor: pointer;
}