.process__item{
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
}

.process__img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: none;
    transition: box-shadow .3s ease-in-out;
}

.process__img:hover{
    cursor: pointer;  
    box-shadow: 0px 0px 42px 0px rgba(1, 1, 1, 0.14);
    transition: box-shadow .3s ease-in-out;
}

.process__name{
    display: flex;
    justify-content: space-between;
}

.process__name_text{
    margin-left: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #333;
}

.process__name_date{
    margin-right: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #333;
}