.nav__button
{
    border: none;
    background: none;
    width: 200px;
    opacity: 1;
    transition: linear;
    padding: 0;
    margin: 0;
}
.nav__button:hover
{
    background-color: #5395c9;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color, linear;
}